<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="header-bg" style="background-image: url('/images/header.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="/images/logo.png" alt="logo">
							<img class="logo-alt" src="/images/logo-alt.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">首页</a></li>
					<li><a href="#category">热门移民</a></li>
					<li><a href="#service">服务项目</a></li>
					<li><a href="#about">公司简介</a></li>
					<li><a href="/blog">最新资讯</a></li>
					<li><a href="/assessment">在线评估</a></li>
					<li><a href="#footer">联系我们</a></li>
					<!-- <ul class="dropdown"> -->
					<!-- <li><a href="blog-single.html">blog post</a></li> -->
					<!-- </ul> -->
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">易捷留学</h1>
							<h3 class="white-text">我给你翅膀，你拥抱梦想!</h3>
							<a href="/blog" class="white-btn">最新资讯</a>
							<a href="/assessment" class="main-btn">在线评估</a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="category" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">热门移民</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="text-center category">
						<a data-toggle="modal" href="#category-1"><img src="/images/曼省提名移民.png" class="img-responsive" alt="曼省提名移民"></a>
						<p class="mt-2 main-color">曼省提名移民</p>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="text-center category">
						<a data-toggle="modal" href="#category-2"><img src="/images/曼省投资移民.png" class="img-responsive" alt="曼省投资移民"></a>
						<p class="mt-2 main-color">曼省投资移民</p>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="text-center category">
						<a data-toggle="modal" href="#category-3"><img src="/images/联邦技术移民.png" class="img-responsive" alt="联邦技术移民"></a>
						<p class="mt-2 main-color">联邦技术移民</p>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- /about-modal -->
	<div class="portfolio-modal modal fade" id="category-1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase text-center">曼省提名移民</h2>
									<div class="">
										<div class="modal-block">
											<h3>项目特点：</h3>
											<ul>
												<li>门槛低，费用开销少</li>
												<li>学习期间有多选择的短期课程（10-12个月），大幅度缩短就学时间，递交移民更快捷</li>
												<li>多数合作院校提供语言课程和语言测试，有效的帮助没有语言成绩的同学顺利入学</li>
												<li>顺利通过签证获得学签的同学可享受医疗保险等福利</li>
												<li>毕业后可获得学费返还</li>
												<li>夫妻及子女可以以亲属关系获取移民</li>
												<li>移民政策稳定，移民成功率高</li>
											</ul>
										</div>
										<div class="modal-block">
											<h3>申请条件：(四种申请方式)</h3>
											<ol>
												<li><p style="font-weight: bold">专业对口无需工作经验 雅思四个6 （属于紧缺职业）</p>
													<ul>
														<li>学生需在曼省完成至少一年制课程（即两个学期全日制）</li>
														<li>毕业后找到与专业相关、且在紧缺职业列表中的工作</li>
														<li>雅思G类，听、说、读、写同时达到6分</li>
														<li>与雇主签订至少一年的工作合同</li>
														<li>无需工作6个月，即可递交移民申请</li>
													</ul>
												</li>
												<li><p style="font-weight: bold">专业对口 全职6个月 雅思5分 （属于紧缺职业）</p>
													<ul>
														<li>学生需在曼省完成至少一年制课程（即两个学期全日制）</li>
														<li>毕业后找到与专业相关、且在紧缺职业列表中的工作</li>
														<li>雅思G类达到5分，达不到6分</li>
														<li>全职工作6个月，即可递交移民申请</li>
													</ul>
												</li>
												<li><p style="font-weight: bold">专业不对口 全职6个月 雅思需匹配NOC标准 （属于紧缺职业）</p>
													<ul>
														<li>学生需在曼省完成至少一年制课程（即两个学期全日制）</li>
														<li>无法找到与专业对口、但属于曼省紧缺职业列表中的工作</li>
														<li>语言达到NOC工作对应标准</li>
														<li>全职工作6个月，即可递交移民申请</li>
													</ul>
												</li>
												<li><p style="font-weight: bold">专业不对口 全职12个月 雅思需匹配NOC标准 （不属于紧缺职业）</p>
													<ul>
														<li>学生需在曼省完成至少一年制课程（即两个学期全日制）</li>
														<li>无法找到与专业对口工作</li>
														<li>工作不属于曼省紧缺职业列表中的工作</li>
														<li>语言达到NOC工作对应标准</li>
														<li>全职工作12个月，即可递交移民申请</li>
													</ul>
												</li>
											</ol>
										</div>
	                  <div class="modal-block">
											<h3>硕博研究生提名移民：</h3>
											<ul>
												<li>理工科STEM类别（Science, Technology, Engineering and Mathematics）</li>
												<li>需完成专业实习</li>
												<li>雅思G类，雅思G类，听、说、读、写同时达到6分</li>
												<li>无需工作Offer，即可递交移民申请</li>
											</ul>
	                  </div>
									</div>
									<div class="text-center">
										<button class="btn main-btn" data-dismiss="modal" type="button">
	                    <i class="fa fa-times"></i>
	                    关闭</button>
									</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- /about-modal -->

		<!-- /about-modal -->
		<div class="portfolio-modal modal fade" id="category-2" tabindex="-1" role="dialog" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	              <div class="rl"></div>
	            </div>
	          </div>
	          <div class="container">
	            <div class="row">
	              <div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
	                  <!-- Project Details Go Here -->
	                  <h2 class="text-uppercase text-center">曼省投资移民</h2>
										<div class="">
											<div class="modal-block">
												<h3>曼省商业投资移民申请条件：</h3>
												<ul>
													<li>过往五年内有至少三年的商业管理经验（高管或企业主均可，企业主持股33%以上可加分）</li>
													<li>英语成绩需达到CLB 5</li>
													<li>高中以上学历</li>
													<li>无上限年龄限制；年龄25-49可加分</li>
													<li>曼省MCR地区，投资额需25万加币以上；曼省MCR地区之外，投资额需15万加币以上</li>
													<li>商务考察需在递交EOI之前一年内进行</li>
													<li>净资产50万加币以上，由曼省认可的第三方公司审计</li>
													<li>审计报告和申请需在收到LAA的120内递交</li>
													<li>申请批准后，需在获得工签支持信之前签订商业绩效协议BPA</li>
												</ul>
											</div>
											<div class="modal-block">
												<h3>适应性加分：</h3>
												<ul>
													<li>配偶达到CLB 5以上</li>
													<li>申请人或配偶的第二官方语言达到CLB 5以上</li>
													<li>申请人或配偶的亲属在曼省居住一年以上</li>
													<li>在EOI递交前，申请人子女已就读曼省全日制6个月以上</li>
													<li>申请人或配偶自17岁起，持有效学签在曼省完成一年以上全日制学习；或在曼省至少有6个月以上的全职工作经验，且需要提供雇主信和工签</li>
												</ul>
											</div>
										</div>
										<div class="text-center">
											<button class="btn main-btn" data-dismiss="modal" type="button">
		                    <i class="fa fa-times"></i>
		                    关闭</button>
										</div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
			<!-- /about-modal -->

			<!-- /about-modal -->
			<div class="portfolio-modal modal fade" id="category-3" tabindex="-1" role="dialog" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="close-modal" data-dismiss="modal">
		            <div class="lr">
		              <div class="rl"></div>
		            </div>
		          </div>
		          <div class="container">
		            <div class="row">
		              <div class="col-lg-8 col-lg-offset-2">
										<div class="modal-body">
		                  <!-- Project Details Go Here -->
		                  <h2 class="text-uppercase text-center">联邦技术移民<br>----Express Entry</h2>
											<div class="">
												<p>加拿大移民部引入了用于技术移民的优选邀请制度Express Entry，简称EE，又称快速通道。</p>
												<div class="modal-block">
													<h3>适用于三类申请：</h3>
													<ul>
														<li>Federal Skilled Worker Program 技术类FSW</li>
														<li>Federal Skilled Trades Program 技工类 FST</li>
														<li>Canadian Experience Class 经验类 CEC</li>
													</ul>
												</div>
												<div class="modal-block">
													<h3>Express Entry是一个评分制移民模式，申请人必须具备以下条件：</h3>
													<ul>
														<li>语言能力：例如雅思G类，听说读写四项，每项分数越高，移民加分越多</li>
														<li>教育背景：受教育程度越高移民加分越多，例如双学历加分高于单学历</li>
														<li>年龄：满分100，自30岁起，每长1岁扣5分</li>
														<li>工作经验：工作1年以上，工作时间越长加分越多，以年为单位计算</li>
														<li>适应性：例如直系兄弟姐妹、配偶、具体工作情况等</li>
													</ul>
												</div>
											</div>
											<div class="text-center">
												<button class="btn main-btn" data-dismiss="modal" type="button">
			                    <i class="fa fa-times"></i>
			                    关闭</button>
											</div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
				<!-- /about-modal -->


				<!-- Image Showcases -->
		    <section class="showcase">
		      <div class="container-fluid p-0 bg-grey">
		        <div class="row no-gutters">

		          <div class="col-lg-6 col-lg-push-6  text-white showcase-img" style="background-image: url('/images/study.jpg');"></div>
		          <div class="col-lg-6 col-lg-pull-6  my-auto showcase-text">
		            <h2>加拿大留学优势</h2>
		            <div class="mb-0">
		            	<ul>
		            		<li>签证门槛低，过签率高，费用开销少</li>
										<li>生活便利、交通方便、居住舒心、安全系数高</li>
										<li>加拿大有多所世界名校，专业选择性多</li>
										<li>多数大学及学院提供语言课程和语言测试，有效的帮助没有语言成绩的同学顺利入学</li>
										<li>国际学生均可申请奖学金</li>
										<li>在读或工作均可享受医疗保险等福利</li>
		            	</ul>
		            </div>
		          </div>
		        </div>
		        <div class="row no-gutters">
		          <div class="col-lg-6 text-white showcase-img" style="background-image: url('/images/work.jpg');"></div>
		          <div class="col-lg-6 my-auto showcase-text">
		            <h2>加拿大移民优势</h2>
								<div class="mb-0">
		            	<ul>
		            		<li>毕业后可申请3年工签</li>
										<li>毕业后可获得学费返还</li>
										<li>工作选择多，收入可观</li>
										<li>夫妻及子女可以以亲属关系获取移民</li>
										<li>移民政策稳定，移民成功率高</li>
										<li>北美地区旅游便捷，境内办理签证，过签率高</li>
		            	</ul>
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container-fluid padding-fluid">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">服务项目</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-book"></i>
						<h3>学签申请服务</h3>
						<ul>
							<li>留学申请</li>
							<li>学签申请</li>
							<li>学签续签</li>
							<li>先留学再移民</li>
						</ul>
					</div>
				</div>
				<!-- /service -->



				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-building"></i>
						<h3>工签申请服务</h3>
						<ul>
							<li>雇主LMIA申请</li>
							<li>工签申请</li>
							<li>工签续签</li>
							<li>打工度假（IEC，体验加拿大）项目申请</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-list-alt"></i>
						<h3>移民申请服务</h3>
						<ul>
							<li>联邦移民项目：快速通道，投资移民，创业签证，自雇移民，家庭团聚移民，家庭护工移民</li>
							<li>省提名移民项目：13个省或地区的省提名移民项目，魁北克技工项目，海洋三省试点项目</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-plane"></i>
						<h3>访问签证申请服务</h3>
						<ul>
							<li>普通探亲签证： 访问子女，孙子女，亲属，友人</li>
							<li>父母，祖父母超级签证</li>
							<li>旅行签证</li>
							<li>商务签证</li>
							<li>夏令营，冬令营等短期学习签证</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fas fa-hand-holding-heart"></i>
						<h3>难民申请服务</h3>
						<ul>
							<li>在加拿大国内申请难民身份</li>
							<li>在加拿大国外申请难民身份</li>
							<li>难民申请上诉</li>
							<li>难民赞助</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-id-card"></i>
						<h3>枫叶卡和护照申请</h3>
						<ul>
							<li>枫叶卡续卡</li>
							<li>入籍申请</li>
							<li>加拿大护照申请</li>
							<li>中国护照更换申请</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->




	<!-- Testimonial -->
	<div id="about" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/4.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<div class="container about-box">
			<div class="row">
				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">公司简介</h2>
				</div>
				<!-- /Section header -->

				<div class="about-box-container">
					<div class="col-md-6 no-gutters p-0 about-image">
						<img src="/images/2.jpg" class="img-responsive" alt="about">
					</div>
					<div class="col-md-6 no-gutters about-text">
						<p class="white-text my-auto">易捷留学教育多年来利用本土化优势为留学生提供高端留学咨询、在加学习生活、就业指导、以及多种途径移民等服务。我们整合庞大的中加资源，与中加多所院校建立长期稳定的合作关系，荟萃各界专家提供高价值精细服务享誉业界。带来完善、细致、注重效果的一站式留学移民服务流程，致力于打造“易捷”的高端留学移民品牌。</p>
					</div>
				</div>

			</div>
		</div>

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">客户评价</h2>
				</div>
				<!-- /Section header -->

				<!-- Testimonial slider -->
				<div class="col-md-10 col-md-offset-1">
					<div id="testimonial-slider" class="owl-carousel owl-theme">
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
							  <img src="/images/profile/Jackie Xu.png" alt="Jackie Xu">
								<h3 class="white-text">Jackie Xu</h3>
								<!-- <span>{{{category}}}</span> -->
							</div>
							<p class="white-text">出国两年了，很感谢易捷留学对我的帮助 从选学校到申请再到大小签,一直都很负责任也很认真的一直帮助我准备材料并且递交材料。</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
							  <img src="/images/profile/DingDing.png" alt="DingDing">
								<h3 class="white-text">DingDing</h3>
								<!-- <span>{{{category}}}</span> -->
							</div>
							<p class="white-text">每当我想办签证的时候，他们都会快速的提供出我需要提交的材料而且让他们办的话我也会非常的安心因为他们是专业的。</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
							  <img src="/images/profile/Lee.jpg" alt="Lee">
								<h3 class="white-text">Lee</h3>
								<!-- <span>{{{category}}}</span> -->
							</div>
							<p class="white-text">一个人的留学生活总是充满困难，感谢易捷留学从出国开始就对我的一切帮助，他们的真诚、热心、负责，让我倍感踏实。现在我已经拿到三年工签也获得了份满意的工作，希望能够顺利移民加拿大。</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
							  <img src="/images/profile/匿名.png" alt="匿名">
								<h3 class="white-text">匿名</h3>
								<!-- <span>{{{category}}}</span> -->
							</div>
							<p class="white-text">非常感谢易捷替我们全家处理了如此复杂的移民，现在我们全家已经开始享受加拿大福利，他们的耐心认真负责让我们全家感激不尽，也感谢举家移民后易捷给我们一步步的帮助，让我们能够顺利的生活，再次感谢！</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
							  <img src="/images/profile/Adrian Zhao.png" alt="Adrian Zhao">
								<h3 class="white-text">Adrian Zhao</h3>
								<!-- <span>{{{category}}}</span> -->
							</div>
							<p class="white-text">来到一个新国度人生地不熟，易捷留学真的帮我从出国前的准备到出国后的学习生活都安排的面面俱到，只要我有什么生活学习上的问题我都会第一时间想到他们，少走了很多弯路。</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
							  <img src="/images/profile/Leonard Qiao.png" alt="Leonard Qiao">
								<h3 class="white-text">Leonard Qiao</h3>
								<!-- <span>{{{category}}}</span> -->
							</div>
							<p class="white-text">抱着想出国移民的想法，易捷留学教育给我推荐了曼省移民项目，耐心帮我选了专业，还为我找了一份收入可观并可以移民的工作。之后递交移民申请，通过了短短一年半的时间拿到了枫叶卡。给力！点赞！</p>
						</div>
						<!-- /testimonial -->

					</div>
				</div>
				<!-- /Testimonial slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Testimonial -->


	<!-- Blog -->
	<div id="blog" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container-fluid padding-fluid">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">最新资讯</h2>
				</div>
				<!-- /Section header -->

				<!-- blog -->
				{{# each data.posts.results}}
				<div class="col-md-3 col-sm-10 col-sm-offset-1 col-md-offset-0">
					<div class="blog">
						<div class="blog-img">
							{{#if image}}<img class="img-blog" src="{{{cloudinaryUrl image}}}" alt="{{{title}}}">{{/if}}
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								{{#if author.name.first}}<li><i class="fa fa-user"></i>{{author.name.first}}</li>{{/if}}
								<li><i class="fa fa-clock-o"></i>{{date publishedDate}}</li>
								{{#if categories}}<li><i class="fa fa-tags"></i>{{categories.0.name}}</li>{{/if}}
							</ul>
							<h3>{{{title}}}</h3>
							<p>{{{content.brief}}}</p>
							{{#if content.extended}}<a href="{{postUrl slug}}">查看详情</a>{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
				<!-- /blog -->


			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->

	<div id="services-features" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/footer.jpg');">
			<div class="overlay"></div>
		</div>

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">易捷五星服务</h2>
				</div>
				<!-- /Section header -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/service/24小时回复.png" alt="24小时回复">
						<span class="white-text">24小时内咨询回复</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/service/学习生活一站式.png" alt="学习生活一站式">
						<span class="white-text">学习生活一站式服务</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/service/即时通知提醒.png" alt="即时通知提醒">
						<span class="white-text">即时状态通知提醒</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/service/固定收费.png" alt="固定收费">
						<span class="white-text">固定收费，无计时收费</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/service/合规申请提交.png" alt="合规申请提交">
						<span class="white-text">合规的申请提交</span>
					</div>
				</div>
				<!-- /number -->
			</div>
		</div>

	</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
	var largest = 0; //start with 0

	$(".blog").each(function(){ //loop through each section
	   var findHeight = $(this).height(); //find the height
	   if(findHeight > largest){ //see if this height is greater than "largest" height
	      largest = findHeight; //if it is greater, set largest height to this one
	   }
	});

	$(".blog").css({"height":largest+"px"});

	$("#about-details").css({"height":$("#about-image").height()+"px"});
</script>
